form {
    width: 200px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
}

.poke-card {
    position: relative;
    height: fit-content;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    max-width: 300px;
    border-radius: 5px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color:rgb(233, 43, 10);
    border: 10px solid black;
}

.poke-card::before {
    content: '';
    background: radial-gradient(black 23%, transparent 23%);
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px  black;
}

.poke-img {
    width: 200px;
    border-radius: 10%;
}